<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <diagnostics performanceCounters="All">
      <messageLogging logEntireMessage="false" logMalformedMessages="true" logMessagesAtTransportLevel="true" maxSizeOfMessageToLog="655360"/>
    </diagnostics>
    <bindings>
      <netTcpBinding>
        <binding name="CTMConfig" receiveTimeout="10:15:00" listenBacklog="5000" maxConnections="5000" maxBufferSize="1331072" maxReceivedMessageSize="1331072" portSharingEnabled="false">
          <reliableSession enabled="false"/>
          <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="5000" maxConcurrentSessions="5000" maxConcurrentInstances="5000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="MRM.Mobile.Service.DataService">
        <endpoint address="net.tcp://localhost:9004/Service/DataService" binding="netTcpBinding" bindingConfiguration="CTMConfig" name="CTMConfig" contract="MRM.Mobile.Service.IDataService"/>
      </service>
    </services>
  </system.serviceModel>
  <connectionStrings>
    <add name="MRMContext" connectionString="Data Source=.\sql2008;Initial Catalog=MRM;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
