<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MRMEntities" connectionString="metadata=res://*/MRM.Data.csdl|res://*/MRM.Data.ssdl|res://*/MRM.Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sql2008;initial catalog=MRM;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>