<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <client>
      <endpoint name="DataServiceTcpEndpoint"
                address="net.tcp://localhost:9004/Service/DataService"
                binding="netTcpBinding"
                contract="MRM.Mobile.Service.IDataService"
                bindingConfiguration="NetTcpBindingConfig"/>  
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBindingConfig" closeTimeout="10:01:00" openTimeout="10:01:00" receiveTimeout="10:00:30" sendTimeout="10:00:30" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="5000" maxBufferPoolSize="524288" maxBufferSize="13310720" maxConnections="5000" maxReceivedMessageSize="13310720" portSharingEnabled="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <connectionStrings>
    <add name="MRMContext" connectionString="Data Source=.\sql2008;Initial Catalog=MRM;Integrated Security=True" providerName="System.Data.SqlClient" />  
  </connectionStrings>
</configuration>